.container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 350px 600px 40px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "feat feat feat feat feat feat feat feat"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid white;
}

.box{
    border: 1px solid white;
    background: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    grid-area: hd;
}

.footer{
    grid-area: ft;
}

.feature{
    grid-area: feat;
}

.content{
    grid-area: main;
}